{% extends 'erp/admin/base.html' %}
{% block title %}Dealer Profile{% endblock %}

{% block content %}
<div class="page-wrapper mdc-toolbar-fixed-adjust">
        <!-- content-block -->
        <main class="content-wrapper">
            <div class="mdc-layout-grid">
                <div class="header-title d-flex justify-content-between mb-3">
                    <h4>Edit {% if request.user.role == 'dealer' %} Profile {% else %} {{ user.get_full_name|title }} ({{user.role|title}}){% endif %}</h4>
                    <a href="{% url 'user_list' %}" class="mdc-button mdc-button--raised rounded mdc-ripple-upgraded">View</a>
                </div>
                <div class="row">
                    <form method="POST">
                    {% csrf_token %}
                        <div class="col-12">
                            <div class="mdc-card mb-4">
                                <h5 class="mb-4">Customer Details</h5>
                                <div class="row">
                                    <div class="mb-3 col-md-4">
                                        <label for="id_firm_name" class="form-label">Company name:</label>
                                        {{ form.firm_name }}
                                    </div>
                                    <div class="mb-3 col-md-4">
                                        <label for="id_gst_number" class="form-label">GSTIN:</label>
                                        {{ form.gst_number }}
                                    </div>
                                    <div class="mb-3 col-md-4">
                                        <label for="id_pan_number" class="form-label">Pan Number:</label>
                                        {{ form.pan_number }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mdc-card mb-4">
                                <div class="row">
                                    <h5 class="mb-4">Shipping Address</h5>
                                    <div class="mb-3 col-md-4">
                                    <label for="id_ship_address_line1" class="form-label">Shipping Address1:</label>
                                        {{ form.ship_address_line1 }}
                                    </div>
                                    <div class="mb-3 col-md-4">
                                        <label for="id_ship_address_line2" class="form-label">Shipping Address2:</label>
                                        {{ form.ship_address_line2 }}
                                    </div>
                                    <div class="mb-3 col-md-4">
                                        <label for="id_ship_city" class="form-label">Shipping City:</label>
                                        {{ form.ship_city }}
                                    </div>
                                    <div class="mb-3 col-md-4">
                                        <label for="id_ship_state" class="form-label">Shipping State:</label>
                                        {{ form.ship_state }}
                                    </div>
                                    <div class="mb-3 col-md-4">
                                        <label for="id_ship_pincode" class="form-label">Shipping Pin Code:</label> 
                                        {{ form.ship_pincode }}
                                    </div>
                                    <div class="mb-3 col-md-4">
                                    <label for="id_ship_country" class="form-label">Shipping Country:</label>
                                        {{ form.ship_country.label_tag }} {{ form.ship_country }}
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="col-12 my-3">
                            <div class="mdc-card mb-4">
                                <div class="row">
                                    <div class="col-12">
                                        {{ form.same_as_shipping }}
                                <label class="form-check-label">
                                same as shipping
                                </label> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12"id="billing-section">
                            <div class="mdc-card mb-4">
                                <div class="row">
                                    <h5 class="mb-3">Billing Address</h5>
                                    <div class="mb-3 col-md-4">
                                        <label for="id_bill_address_line1" class="form-label">Billing Address1:</label>
                                            {{ form.bill_address_line1 }}
                                    </div>
                                    <div class="mb-3 col-md-4">
                                        <label for="id_bill_address_line2" class="form-label">Billing Address2:</label>
                                        {{ form.bill_address_line2 }}
                                    </div>
                                    <div class="mb-3 col-md-4">
                                        <label for="id_bill_city" class="form-label">Billing City:</label>
                                        {{ form.bill_city }}
                                    </div>
                                    <div class="mb-3 col-md-4">
                                        <label for="id_bill_state" class="form-label">Billing State:</label>
                                        {{ form.bill_state }}
                                    </div>
                                    <div class="mb-3 col-md-4">
                                        <label for="id_bill_pincode" class="form-label">Billing Pin Code:</label>
                                        {{ form.bill_pincode }}
                                    </div>
                                    <div class="mb-3 col-md-4">
                                        <label for="id_bill_ccountry" class="form-label">Billing Country:</label>
                                        {{ form.bill_country }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="mdc-button mdc-button--raised rounded mdc-ripple-upgraded">
                                Update Profile
                            </button>
                        </div>
                    </form>
                                
                </div>
            </div>
        </main>
</div>


<script>
document.getElementById("id_same_as_shipping").addEventListener("change", function () {
    document.getElementById("billing-section").style.display =
        this.checked ? "none" : "block";
});
</script>


{% endblock %}