{% extends 'erp/admin/base.html' %}

{% block title %} Sales Dashboard {% endblock %}

{% block content %}
<div class="page-wrapper mdc-toolbar-fixed-adjust">
  <main class="content-wrapper">
    <div class="mdc-layout-grid">

      <!-- HEADER -->
      <div class="d-flex justify-content-between mb-3">
        <div class="header-title">
          <h4>Sales Dashboard</h4>
        </div>
      </div>

      <!-- DASHBOARD CONTENT -->
      <div class="mdc-card mb-3 p-3">
        <p>Welcome to the Sales Dashboard. Here you can manage your sales activities and view relevant metrics.</p>
      </div>

    </div>
  </main>
  {% endblock %}